<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/template.html :: header"></div>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Support/Contact Us</h1>
      </div>
    </div>
  </div>
</header>

<!-- Contact details -->
<section class="main-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center header"><h3>Please email us at <a href="mailto:support@mydialbuddy.com">support@mydialbuddy.com</a></h3></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">If you feel something is not right, let us know and we'll make it right. We greatly appreciate your feedback</div>
    </div>
  </div>
</section>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/template.html :: scripts"></div>

</body>
</html>