<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/template.html :: header"></div>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<!-- Masthead -->
<header class="masthead-small text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Your Call History</h1>
      </div>
    </div>
  </div>
</header>

<section class="toll-free">
  <div class="container-fluid text-center text-white toll-free-number">
    <div>
      <h5>Now showing your call history by date and recipient.<br>Click the 'Download' button to download a recording.</h5>
    </div>
  </div>
</section>


<section class="main-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="calls" class="table table-striped table-bordered" style="width:100%">
          <thead>
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">To</th>
            <th class="text-center">Cost</th>
            <th class="text-center">Action</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#calls').DataTable({
      "ajax": "/api/callservice/calls",
      "columns": [
        { "data": "created",
          "className": "text-center",
          "render": function(data, type, row, meta) {
            return new Date(data).toLocaleDateString('en-US', {
              day: 'numeric',
              month: 'short',
              year: 'numeric'
            });
          }
        },
        { "data": "to",
          "className": "text-center"
        },
        { "data": "costInCents",
          "className": "text-center",
          "render": function(data, type, row, meta) {
            return '$' + (data/100).toFixed(2);
          }
        },
        { "data": "s3recordingUrl",
          "className": "text-center",
          "render": function(data, type, row, meta) {
            if( data && data != null ) {
              return "<a class='btn btn-sm btn-primary' href='/api/callservice/recording/" + row['sid'] + "' download>Download</a>"
            } else {
              return "";
            }
          }
        }
       ]
    });

  });
</script>

</body>
</html>