<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/template.html :: header"></div>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<!-- Error container -->
<div class="container login-container">
  <div class="card card-container bg-light form-signin">
    <div class="login-header text-center bg-dark"><i class="icon-microphone m-auto text-white icon-logo"></i>An error has occurred</div>
    <div class="login-body">
      <div id="errorMessage" class="text-dark text-center" th:text="${errorMessage}"></div>
      <div id="errorHelp">Please contact us at <a href="mailto:support@mydialbuddy.com">support@mydialbuddy.com</a> if you have any questions or concerns</div>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/template.html :: scripts"></div>

</body>
</html>