<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <div th:replace="fragments/template.html :: header"></div>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<div class="container login-container">
  <div class="card card-container bg-light form-signin">
    <div class="login-header text-center bg-dark"><i class="icon-microphone m-auto text-white icon-logo"></i>Reset your password</div>
    <div class="login-body">
      <div class="forgot-info text-center text-dark" id="forgotInstructions">Please enter your email address below and we'll send you a link to reset your password</div>
      <div class="forgot-info text-center text-dark hidden" id="forgotConfirmation">If we found a matching account with that email address we'll send a link to reset your password, please check your inbox</div>
      <form id="forgotPasswordForm" method="post" action="/api/accountService/forgotPassword">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="username">Email address</label>
              <input type="email" class="form-control" id="username" name="username" autofocus>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <button class="btn btn-sm btn-success btn-block" type="submit">Send reset link</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Validation Scripts -->
<div th:replace="fragments/template.html :: validationscripts"></div>

<!-- Page Scripts -->
<script src="//s3.amazonaws.com/callrecorder-static/js/forgot.js"></script>

</body>
</html>