<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="Easy call recording for only 15#162; per minute! Fully automated service with free trial.">

  <meta name="author" content="">

  <title>MyDialBuddy | Easy Call Recording Service</title>

  <link rel="icon" href="https://s3.amazonaws.com/callrecorder-static/img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="//s3.amazonaws.com/callrecorder-static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//s3.amazonaws.com/callrecorder-static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Arvo" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="//s3.amazonaws.com/callrecorder-static/css/landing-page.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125423284-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125423284-1');
    </script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark static-top">
  <div>
    <a class="navbar-brand" href="/">
      <div class="logo-title"><i class="icon-microphone m-auto text-white icon-logo"></i>MyDialBuddy</div>
    </a>
  </div>
  <ul class="list-inline mt-1">
    <li sec:authorize="isAuthenticated()" class="list-inline-item"><a class="text-white" th:href="@{/private/dashboard}">Dashboard</a></li>
    <li sec:authorize="isAuthenticated()" class="list-inline-item"><span class="text-white">|</span></li>
    <li sec:authorize="isAuthenticated()" class="list-inline-item"><a class="text-white" th:href="@{/private/profile}">My Profile</a></li>
    <li sec:authorize="isAnonymous()" class="list-inline-item"><a class="text-white" th:href="@{/public/register}">Register</a></li>
    <li class="list-inline-item">&nbsp;&nbsp;</li>
    <li sec:authorize="isAnonymous()" class="list-inline-item"><a class="btn btn-sm btn-primary" th:href="@{/public/login}">Log In</a></li>
    <li sec:authorize="isAuthenticated()" class="list-inline-item"><a class="btn btn-sm btn-primary" th:href="@{/public/logout}">Logout</a></li>
  </ul>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-4">Call recording made easy<br/>for only 15&#162; per minute!</h1>
      </div>
      <div class="col-xl-9 mx-auto">
        <h5 class="mb-4">Sign up now and call our automated toll free number to connect and record your call.</h5>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a class="btn btn-lg btn-primary text-white" href="tel:8448048790">Call 844 804 8790 (Toll-free)</a>
      </div>
    </div>
  </div>
</header>

<section class="toll-free">
  <div class="container-fluid text-center text-white toll-free-number">
    <div>
      <h5>Want to try it for free? <a class="text-white" th:href="@{/public/trial}"><u>Click here</u></a> for our free trial service (no registration required)</h5>
    </div>
  </div>
</section>


<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-phone m-auto text-primary"></i>
          </div>
          <h3>No App Required</h3>
          <p class="lead mb-0">Register an account today and call <a href="tel:844 804 8790">844 804 8790</a> any time you want to record a call.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-speech m-auto text-primary"></i>
          </div>
          <h3>Fully Automated</h3>
          <p class="lead mb-0">Our automated service will ask you to key in the number you want to connect to.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-microphone m-auto text-primary"></i>
          </div>
          <h3>Seamless Recording</h3>
          <p class="lead mb-0">The recipient sees the call as coming from your number, we'll record it for you.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-cloud-download m-auto text-primary"></i>
          </div>
          <h3>Instant Delivery</h3>
          <p class="lead mb-0">We'll send you a secure link to your recording as soon as you finish your call.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 my-auto showcase-text">
        <h2>Call recording made easy</h2>
        <p class="lead mb-4">Call our toll-free automated number, key in the number you want to connect to and your call will be connected automatically.</p>
        <p class="lead mb-4">The recipient will see the call as coming directly from your number and we'll record it in high-quality audio.</p>
        <p class="lead mb-0">When you're done just hang up and we'll email you a secure link to your recording.</p>
      </div>
      <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('//s3.amazonaws.com/callrecorder-static/img/trial-call.jpg');"></div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Pay as you go pricing</h2>
        <p class="lead mb-4">There's no contract or hidden charges. You only pay for what you use. Payment is billed at the end of the month based on your usage at 15&#162; per minute.</p>
        <p class="lead mb-4"><a href="https://stripe.com/about"><img src="//s3.amazonaws.com/callrecorder-static/img/powered_by_stripe.png" title="Powered by Stripe" alt="Powered by Stripe"/></a>
        <p class="lead mb-0">We use the industry-leading Stripe billing platform to ensure the security of your payment details. Please <a href="https://stripe.com/about">click here</a> to find out more.</p>
      </div>
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('//s3.amazonaws.com/callrecorder-static/img/pay-as-you-go.jpg');"></div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 my-auto showcase-text">
        <h2>Access your secure recordings anytime</h2>
        <p class="lead mb-0">Your recordings are stored securely in the cloud. Only you have access to them. You can view your call history and download recordings from your secure account console at any time.</p>
      </div>
      <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('//s3.amazonaws.com/callrecorder-static/img/cloud-storage.jpg');"></div>
    </div>
  </div>
</section>

<!-- Frequently asked questions -->
<section class="features-icons bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 class="mb-4">Frequently Asked Questions</h1>
        <h4 class="mb-2">How does your service work?</h4>
        <p class="lead mb-0">We provide a simple automated call recording service that you can use to record any outgoing phone call in high-quality audio. To use our service you just need to:</p>
        <ol class="lead">
          <li>Call our toll free automated number</li>
          <li>You will be asked to enter the number of the person you want to connect to on your telephone keypad followed by the # key.</li>
          <li>The service will read back that number to you and ask you to press '1' on your telephone keypad to confirm.</li>
          <li>The service will then connect you to that number. The person being called will see your number on the incoming call, not ours.</li>
          <li>At the end of your call just hang up and we'll send you an email with a secure link to your recording.</li>
          <li>You can access any of your call recordings at any time by going to your private account dashboard.</li>
        </ol>
        <h4 class="mb-2 mt-4">Can I try it out before registering?</h4>
        <p class="lead mb-2">Absolutely! You can try out our service for free by calling our toll-free trial number. At the end of your call we'll send you a text message with a link to your securely-stored recording.</p>
        <p class="lead mb-0">Our trial service is limited to a maximum call duration of five minutes, your call will automatically disconnect after five minutes has elapsed.</p>
        <h4 class="mb-2 mt-4">How do I get access to my recording?</h4>
        <p class="lead mb-2">At the end of your call we'll automatically send you an email with a link to your securely-stored recording.</p>
        <p class="lead mb-0">You can also access any of your saved recordings at any time by going to your secure account dashboard.</p>
        <h4 class="mb-2 mt-4">How does the billing and payment work?</h4>
        <p class="lead mb-2">You will be charged 15&#162; per minute for your call recording. Billing starts from the moment the call recipient picks up the phone and stops when you end the call.</p>
        <p class="lead mb-2">Payment on your account is settled on a monthly basis based on your usage. You only pay for what you use at 15&#162; per minute. If you do not use the servive, you pay nothing.</p>
        <p class="lead mb-0">Our service uses a toll free number so your telephone provider will not charge you at all for using our service.</p>
        <h4 class="mb-2 mt-4">What happens if nobody picks up?</h4>
        <p class="lead mb-0">We only start charging you from the moment your call is connected to your intended recipient at 15&#162; per minute. If nobody picks up the call then you will not be charged.</p>
        <h4 class="mb-2 mt-4">Is it legal to record a telephone call?</h4>
        <p class="lead mb-2">Federal law permits recording telephone conversations and in-person conversations so long as you are a party to that conversation. This means that it is legal for you to record a phone call that you either initiate or receive.</p>
        <p class="lead mb-2">Certain states have adopted what is referred to as 'two-party consent' which means that it is your legal responsibility to ensure that all parties to the conversation give their consent to it being recorded.</p>
        <p class="lead mb-2">Two party consent laws are applicable if either you or the other party is resident in the following states: California, Connecticut, Florida, Illinois, Maryland, Massachusetts, Montana, New Hampshire, Pennsylvania and Washington.</p>
        <p class="lead mb-0">If in doubt you should always ask the other party for their consent before recording a call.</p>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h3 class="mb-4">Ready to get started?</h3>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a class="btn btn-md btn-primary" th:href="@{/public/register}">Register now!</a>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a th:href="@{/public/services}">Our Service</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a th:href="@{/public/contact}">Contact</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a th:href="@{/public/terms}">Terms of Use</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a th:href="@{/public/privacy}">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; MyDialBuddy 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
