<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/template.html :: header"></div>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<div class="container login-container">
  <div class="card card-container bg-light form-signin">
    <div class="login-header text-center bg-dark"><i class="icon-microphone m-auto text-white icon-logo"></i>Log into your account</div>
    <div class="login-body">
      <div id="loginError" class="text-danger text-center hidden">Invalid email address/password</div>
      <form id="loginForm" method="post" action="/login">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="username">Email address</label>
              <input type="email" class="form-control" id="username" name="username" tabindex="1" autofocus>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label><input type="checkbox" value="remember-me" id="remember-me" name="remember-me"> Remember me</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <button class="btn btn-sm btn-success btn-block" tabindex="3" type="submit">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a th:href="@{/public/forgot}" tabindex="4">Forgot password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/template.html :: validationscripts"></div>

<!-- Page scripts -->
<script src="//s3.amazonaws.com/callrecorder-static/js/login.js"></script>

</body>
</html>