<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MyDialBuddy | Effortless Call Recording</title>

  <!-- Bootstrap core CSS -->
  <link href="//s3.amazonaws.com/callrecorder-static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="//s3.amazonaws.com/callrecorder-static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//s3.amazonaws.com/callrecorder-static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Arvo" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="//s3.amazonaws.com/callrecorder-static/css/landing-page.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125423284-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125423284-1');
    </script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/">
        <div class="logo-title"><i class="icon-microphone m-auto text-white icon-logo"></i>MyDialBuddy</div>
      </a>
    </div>
    <ul class="list-inline mb-2">
      <li class="list-inline-item"><a class="text-white" th:href="@{/public/services}">Our Service</a></li>
      <li class="list-inline-item"><span class="text-white">|</span></li>
      <li sec:authorize="isAuthenticated()" class="list-inline-item"><a class="text-white" th:href="@{/private/account}">My Account</a></li>
      <li sec:authorize="isAnonymous()" class="list-inline-item"><a class="text-white" th:href="@{/public/register}">Register</a></li>
      <li class="list-inline-item">&nbsp;&nbsp;</li>
      <li sec:authorize="isAnonymous()" class="list-inline-item"><a class="btn btn-sm btn-primary" th:href="@{/public/login}">Sign In</a></li>
      <li sec:authorize="isAuthenticated()" class="list-inline-item"><a class="btn btn-sm btn-primary" th:href="@{/public/logout}">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container login-container">
  <div class="card card-container bg-light">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <p id="profile-name" class="profile-name-card"></p>
    <div id="loginError" class="text-danger text-center hidden">Invalid username/password</div>
    <form id="loginForm" method="post" action="/login">
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-label-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Email Address" tabindex="1" data-container="body" data-toggle="popover" data-placement="left" data-content="" required autofocus>
            <label for="username">Email address</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-label-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" tabindex="2" data-container="body" data-placement="left" data-content="" required>
            <label for="password">Password</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label><input type="checkbox" value="remember-me" id="remember-me" name="remember-me"> Remember me</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input class="btn btn-success" type="submit" tabindex="3" value="Sign in">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a th:href="@{/public/forgot}" tabindex="4">Forgot password?</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a th:href="@{/public/services}">Our Service</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a th:href="@{/public/contact}">Contact</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a th:href="@{/public/terms}">Terms of Use</a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a th:href="@{/public/privacy}">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.validate.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/additional-methods.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/js/login.js"></script>

</body>
</html>