<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/template.html :: header"></div>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<!-- Masthead -->
<header class="masthead-small text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Account Details</h1>
      </div>
    </div>
  </div>
</header>

<section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Billing Information</h4>
      </div>
      <div class="col-md-8">
        <p class="lead mb-4">This account is billed to: <span class="credit-card d-inline-block" th:attrappend="class=${' ' + card.type}"></span> <b><span th:text="${card.name}"></span> ending in <span th:text="${card.lastDigits}"></span></b></p>
        <div>
          <p class="lead">Current account balance: <b><span th:text="${#numbers.formatDecimal(currentBalance, 1, 'COMMA', 2, 'POINT')}"></span></b></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="profile bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Phone numbers</h4>
      </div>
      <div class="col-md-8">
        <div class="lead mb-2" th:each="phoneNumber: ${phoneNumbers}">
          <p th:text="${phoneNumber}"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Scripts -->
<div th:replace="fragments/template.html :: scripts"></div>

</body>
</html>