<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/template.html :: header"></div>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<!-- Registration Form -->
<div class="container login-container">
  <div class="card card-container bg-light form-signin">
    <div class="login-header text-center bg-dark"><i class="icon-microphone m-auto text-white icon-logo"></i>Register your account</div>
    <div class="login-body">
      <div id="loginError" class="text-danger text-center hidden">Invalid email address/password</div>
      <form id="registerForm" method="post" action="/api/accountservice/registerAccount">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="username">Email address</label>
              <input type="email" class="form-control" id="username" name="username" autofocus tabindex="1">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="password">Confirm password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" tabindex="3">
            </div>
          </div>
        </div>
        <div class="form-row billing">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="phoneNumber">Primary phone number<br/>(We use this to identify you when you call us)</label>
              <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" tabindex="4">
            </div>
          </div>
        </div>

        <!-- Credit card number -->
        <div class="form-row billing">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="cardNumber">Credit Card Number</label>
              <input type="text" class="form-control" id="cardNumber" name="cardNumber" tabindex="5">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="cardExpiry">Expiry (MM/YY)</label>
              <input type="text" class="form-control" id="cardExpiry" name="cardExpiry" tabindex="6">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="cardCvc">CVC</label>
              <input type="text" class="form-control" id="cardCvc" name="cardCvc" tabindex="7">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center create-account">
            <button class="btn btn-sm btn-success btn-block" tabindex="7" type="submit">Register account</button>
          </div>
        </div>
      </form>
      <div class="register-instructions">By clicking on Register Account you agree to the<br/><a href="/public/terms" target="_blank">Terms & Conditions</a> set out on this site</div>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.validate.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/additional-methods.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/cleave/cleave.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/cleave/cleave-phone.us.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//s3.amazonaws.com/callrecorder-static/js/register.js"></script>

</body>
</html>