<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <div th:replace="fragments/template.html :: header"></div>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/template.html :: navigation"></div>

<!-- Password Reset Form -->
<div class="container login-container">
  <div class="card card-container bg-light form-signin">
    <div class="login-header text-center bg-dark"><i class="icon-microphone m-auto text-white icon-logo"></i>Reset your password</div>
    <div class="login-body">
      <div id="resetError" class="text-danger text-center hidden">An error occurred, please try again</div>
      <form id="resetForm" method="post" action="/api/accountservice/resetPassword">
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <div class="form-label-group">
              <label for="password">Confirm password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" tabindex="3">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center create-account">
            <button class="btn btn-sm btn-success btn-block" tabindex="7" type="submit">Reset password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="fragments/template.html :: footer"></div>

<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/jquery.validate.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/jquery/additional-methods.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/cleave/cleave.min.js"></script>
<script src="//s3.amazonaws.com/callrecorder-static/vendor/cleave/cleave-phone.us.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//s3.amazonaws.com/callrecorder-static/js/reset.js"></script>

</body>
</html>